<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="apple-itunes-app" content="app-id=879840229">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/happy-hour-favicon.ico">

    <link media="all" rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link media="all" rel="stylesheet" type="text/css" href="/static/css/happy-hour.css">
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/happy-hour-web.js"></script>

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("91d485f9b0ab4681bc67537bf270c353");</script>

    <script>

        if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
            window.location.href = 'https://itunes.apple.com/us/app/id879840229';
        }


        $(document).ready(function(){
{#            mixpanel.track_links(".app-link", "web_app_banner_click");#}

{#            $('.app-banner').on('click', function(){#}
{#                window.location.href = 'https://itunes.apple.com/us/app/id879840229';#}
{#            });#}
        });

    </script>
    {% block extrascript %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="header">
        <div class="col-xs-12 col-sm-12 col-md-12">
                <a class="app-link" href="https://itunes.apple.com/us/app/id879840229"><img class="app-banner" src="/static/img/app-banner.png"></a>
                <img class="header-logo" src="/static/img/happy-hour-header-logo.png">
                <form id="select-happy-hour" action="/happy-hours/update/" method="post">
                    {% csrf_token %}
                    <div class="inner-form">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
{#                        <input id="submit-button" type="submit" value="Submit" />#}
                    </div>
                </form>

        </div>
        </div>
        {% block main %}{% endblock %}
        <div id="footer">
        <div class="row footer-content">
            <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">
                <span class="copyright">&#169; Copyright 2014 Hotspot Studios</span>
            </div>
            <div class="col-xs-3 col-xs-offset-5 col-sm-3 col-sm-offset-5 col-md-3 col-md-offset-5">
                <a href="mailto:info@GetHotspotApp.com"><span class="submit-happy-hour">Submit a happy hour</span></a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>