<!DOCTYPE html>

<html>
<head>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/beacon.css">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<meta name="apple-itunes-app" content="app-id=737629048">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="height=device-height">
</head>

<body>
	<div>	
		<h1>Support Help</h1>

		<h2>Please email <a href="mailto:info@gethotspotapp.com">info@gethotspotapp.com</a></h2>
		
	</div>

</body>


</html>